@font-face {
    font-family: ArTarumian;
    src: local(ArTarumianHeghnar), url(ArTarumianHeghnar-Regular-Italic-8938.ttf);
    unicode-range: U+0-10FFFF;
}
* {
    padding: 0 !important;
    outline: none;
    font-family: ArTarumian;
}
.head
{
    height: 4em;
    background: #525252;
    position: relative;
}
.pages
{
    position: absolute;
    bottom: 1em;
    width: 100%;
    height: 4em;
}
.pages-div
{
    margin: auto;
    width: 11%;
    height: 100%;
}
.pages-div div
{
    border: solid 1px #fff;
    border-radius: 10em;
    width: 1em;
    display: inline-block;
    margin-top: 1.5em;
    height: 1em;
    margin-right: 1em;
    background: white;
    cursor: pointer;
}
.pages-div div:hover
{
    background-image: radial-gradient(circle, #8a8a8a 20%, transparent 20%), linear-gradient(to right, white, white) !important;
}
.logo, .menu {
    height: 4em;
    display: inline-block;
}
.logo div
{
	background: url(../images/realschool_logo.png);
    width: 100%;
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
}
.logo
{
    /*width: 6%;
    margin-left: 1em;*/
    width: 6%;
    margin: auto !important;
    display: block;
    float: inherit;
}
.menu, .small-drop
{
    position: absolute;
    right: 0;
    margin-top: 14px;
}
.menu li {
    display: inline-block;
    margin-right: 1em;
    border-bottom: solid 2px;
    color: white;
}
.menu li a{
	color: white !important;
	text-decoration:none !important;
}
a
{
    color: #333 !important;
    text-decoration:none !important;
}
.menu li:hover
{
	color:lightblue;
	cursor:pointer;
}
.menu li:hover > a
{
	color:lightblue !important;
}
.home
{
	height: 100%;
}
.home>div {
    display: inline-block;
    position: absolute;
    left: 0;
}
.bigImage
{
    height: 100%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.text
{
    font-size: 5em;
    color: white;
    font-family: serif;
    z-index: 1;
    top: 38%;
    left: 50% !important;
    font-style: italic;
}
.popupwindow
{
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.65);
}
.students
{
    width:100%;
}
.Students-Info, .Campaigns, .other
{
	height: 20em;
    background: #a0a0a0;
}
.Students-Info
{
    height: 30em;
}
.left, .right {
    position: absolute;
    top: 38%;
    font-size: 2em;
    font-family: script-mt, serif;
    font-weight: bold;
    color: white;
    border: solid 1px;
    padding: 10px !important;
}
.left:hover, .right:hover
{
	background: white;
	color: #a0a0a0;
	cursor:pointer;
}
.left {
    left: 1em;
}
.right{
	right:1em;
}
.studentsDiv, .Campaigns .content,  .project .projects-div, .work .works-div
{
	width: 94%;
    height: 50%;
    margin: auto;
    margin-left: 6%;
}
.students, .campaigns-loc, .partniers, .projects, .works
{
	border: solid 1px;
    margin-right: 10px;
    display: inline-block;
   /* padding: 80px !important;*/
    border-radius: 10em;
}
.studentDiv
{
    display: inline-block;
    margin: 1em;
}
.studentDiv p
{
    text-align: center;
}
.search-bar 
{
    margin:1em;
}
.search-bar input, .search-bar select
{
    margin-right:1em;
    padding: 10px !important;
    border: solid 1px;
    border-radius: 10px;
}
.Lectures{
	position:relative;
	height:100%;
}
.Lectures>div
{
    display: inline-block;
    position: absolute;
    left: 0;
}
.lecList
{
	height: 100%;
    width: 35em;
    left: inherit !important;
    border: solid 1px;
    right: 0;
    background: white;
	overflow-y:scroll;
}
.Lectures h1
{
	font-size: 65px;
    color: white;
    position: absolute;
    top: 40%;
    left: 1em;
    font-family: serif;
}
.lecsLecList
{
	height: 12em;
    margin: 10px;
}
.lecsLecList .image
{
	float: left;
    width: 40%;
    height: 100%;
	border:solid 1px;
}
.lecsLecList .text
{
	border:solid 1px;
	left: inherit !important;
    top: inherit;
    width: 60%;
    color: black;
    height: 100%;
    font-family: sans-serif;
    float: right;
    padding: 5px !important;
    font-size: 12px;
    text-transform: capitalize;
}
.News .bigImage
{
	height: 100%;
    background: url(../images/news_wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.News .title, .About .title
{
	position: absolute;
    left: 0;
    top: 0;
    color: white;
}
.News .allNews
{
    height: 100%;
    position: absolute;
    top: 4em;
}
.nMaterial
{
	border: solid 1px lightblue;
    width: 24em;
    height: 24em;
    position: absolute;
    margin: 10px;
}
.nMaterial .text{
    border: solid 1px;
    height: 60%;
    font-size: 1em;
    padding: 10px !important;
}
.nMaterial .image
{
	border: solid 1px;
    height: 40%;
    background: white;
}
.About{
	height: 100%;
}
.About .bigImage
{
	background: url(../images/about_wallpaper.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}
.title
{
	margin-bottom: 10px !important;
	margin: auto;
    width: 100%;
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    color: white;
    font-family: serif;
    font-style: italic;
    font-size: 2.25em;
}
.smText
{
	position: absolute;
    top: 25%;
    font-size: 1.5em;
    color: white;
    padding: 10px !important;
}
.partniers-content
{
    margin: 4em !important;
    margin-left: 6em !important;
}
/*.partniers{
    margin-top: 4%;
    width: 4em;
    height: 4em;
}*/
.imagesPartniers
{
	position: absolute;
    bottom: 0;
    width: 100%;
}
.Contact
{
	height: 70%;
}
form
{
	margin: auto;
    width: 13%;
}
form label {
    text-align: center;
    font-size: 1.2em;
    font-family: serif;
	    width: 100%;
}
form input {
    border: solid 1px;
    border-radius: 10em;
    padding: 10px !important;
    margin: 10px;
}
form input[type=submit]
{
	margin: auto;
    width: 10em;
    margin-top: 10px;
    margin-left: 1.2em;
    font-family: serif;
    font-weight: bold;
    font-size: 1.2em;
}